PersonalSafety/WebService/src/main/resources/xsd/scheda.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="scheda">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idScheda" type="xs:int"/>
                <xs:element name="idEnte" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>